body{
    background-color: darkolivegreen;
}
h1{
    color: aquamarine;
    text-transform: capitalize;
    text-decoration: underline;
    
    
}
h4{
    color: aquamarine;
}
kuch-bhi{
    color: red;
}
.hamza{
      text-align: center;
}
.kuch{
    text-align: center;
}
.i{
    color:yellow;
}

